/*************************************************/
/* Layout */

@media (min-width: 48em) {
  .sidebar {
    width: 15rem;
  }
}

@media (min-width: 48em) {
  .content {
    max-width: 38rem;
    margin-left: 17rem;
    margin-right: 2rem;
  }
}

/*************************************************/
/* Font definitions */

body {
  font-family: "Sorts Mill Goudy";
  color: #333;
}

em {
  font-style: italic;
  font-family: "Sorts Mill Goudy"
}

.sidebar {
  font-family: "Sorts Mill Goudy";
}

.sidebar-about h1 {
  font-family: "Sorts Mill Goudy";
  font-size: 2.8rem;
}

.sidebar-nav {
  font-family: "Sorts Mill Goudy";
  font-size: 1.15rem
}

blockquote {
  font-style: italic;
  font-family: "Sorts Mill Goudy";
}


/* Content */
.hyphenate {
  hyphens: auto;
  text-align: justify;
}

/*************************************************/
/* Mimic Latex paragraph headline */

section.level4 {
  margin-bottom: 1rem;
}

h5 {
  display: inline-block;
  margin-bottom: 0;
  margin-top: 0;
}

/* Replacement for `display: run-in;` */
h5 + p  {
  display: inline;
  margin:0;
  margin-left: 0.5rem;
}

h5 + p:after {
  content:'\0A';
  white-space:pre;
} 

h5 + p + * {
  margin-top: 1rem;
}

/*************************************************/
/* Definition */

.definition {
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  margin-bottom: 1rem;
}

.definition header {
  padding: 0.1rem 0.5rem;
  border-bottom: 1px solid #333;
  background-color: rgba(0,0,0,0.1);
}

.definition-body {
  padding: 0.5rem 1rem;
  background-color: rgba(0,0,0,0.04);
}

.definition-body *:last-child {
  margin-bottom: 0;
}

/*************************************************/
/* Figures */

figure,
.subfigures {
  display: block;
  margin: 2em 40px;
}

img {
  /* Prevent it from stretching on mobile */
  height: auto;
}

/*************************************************/
/* Latex math */

.math-make-inline {
  display: inline-block;
}

.math-make-inline p {
  margin: 0;
}

.inline-math {
  display: inline;
}

.display-math {
  display: block;
  margin: auto !important;
}

/*************************************************/
/* references */

.references {
  border-top: 1px solid #2020203f;
  padding-top: 2rem;
  margin-top: 2rem;
}

/*************************************************/
/* Counters */
/* (have to be reset all together) */

body {
  counter-reset: 
    sidenote-counter
    lemma
    theorem
    corollary
    definition;
}

/*************************************************/
/* sidenotes */

 
/* If inside a theorem block we need to take the margin into account */
.theorem .sidenote,
.lemma .sidenote,
.corollary .sidenote,
.definition .sidenote {
  margin-right: -73%
}

.sidenote, .marginnote { float: right;
  clear: right;
  margin-right: -60%;
  width: 50%;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1rem;
  line-height: 1.3;
  vertical-align: baseline;
  position: relative; }

.sidenote-number { 
  counter-increment: sidenote-counter; 
}

.sidenote-number:after, .sidenote:before {
                    font-family: et-book-roman-old-style;
                    position: relative;
                    vertical-align: baseline; }

.sidenote-number:after { content: counter(sidenote-counter);
  font-size: 0.8rem;
  top: -0.3rem;
  left: 0.1rem;}

.sidenote:before { 
  content: counter(sidenote-counter) " ";
  font-size: 0.8rem;
  top: -0.5rem;
  display: inline-block;
  margin-right: 0.3rem; 
}

blockquote .sidenote, blockquote .marginnote { margin-right: -82%;
                        min-width: 59%;
                        text-align: left; }

input.margin-toggle { display: none; }

label.sidenote-number { display: inline; }

label.margin-toggle:not(.sidenote-number) { display: none; }

@media (max-width: 760px) {
  label.margin-toggle:not(.sidenote-number) { display: inline; }
  .sidenote, .marginnote { display: none; }
  .margin-toggle:checked + .sidenote,
  .margin-toggle:checked + .marginnote { 
    display: block;
    float: left;
    left: 1rem;
    clear: both;
    width: 95%;
    margin: 1rem 2.5%;
    vertical-align: baseline;
    position: relative; 
  }
  label { cursor: pointer; }
}

/*************************************************/
/* Quotes */

.theorem,
.lemma,
.corollary,
.algorithm,
.definition {
  counter-increment: theorem;
  padding: .5rem 1rem;
  margin: .8rem 0;
  display: block;
  font-style: italic;
  border-style: solid;
  border-color: #e5e5e5;
  border-width: 1px 1px 1px .30rem;
}
.theorem p:first-child,
.lemma p:first-child,
.corollary p:first-child,
.algorithm p:first-child,
.definition p:first-child {
  display: inline-block;
}
.theorem p:last-child,
.lemma p:last-child,
.corollary p:last-child,
.algorithm p:last-child,
.definition p:last-child {
  margin-bottom: 0;
}
@media (max-width: 30em) {
  .theorem,
  .lemma,
  .corollary,
  .algorithm,
  .definition {
    text-align: left;
  }
}
@media (min-width: 30em) {
  .theorem,
  .lemma,
  .corollary,
  .algorithm,
  .definition {
    padding-right: 5rem;
    padding-left: 1.25rem;
  }
}

.theorem:before,
.lemma:before,
.corollary:before,
.algorithm:before,
.definition:before  {
  display: inline;
  font-weight: bold;
  font-style: normal;
}

.theorem:before {
  content: "Theorem " counter(theorem) ".";
}
.lemma:before {
  content: "Lemma " counter(theorem) ".";
}
.corollary:before {
  content: "Corollary " counter(theorem) ".";
}
.algorithm:before {
  content: "Algorithm " counter(theorem) ".";
}
.definition:before  {
  content: "Definition " counter(theorem) ".";
}

.proof:before {
  content: "Proof:";
  font-style: italic;
}

.proof:after {
  display: block;
  content: "□";
  font-style: italic;
  font-size: 1.4rem;
  text-align: right;
}
