@font-face {
  font-family: "sorts-mill-goudy";
  src: url("/font/GoudyStM-webfont.eot");
  src: url("/font/GoudyStM-webfont.eot?#iefix") format("embedded-opentype"),url("/font/GoudyStM-webfont.woff") format("woff"),url("/font/GoudyStM-webfont.ttf") format("truetype"),url("/font/GoudyStM-webfont.svg#sorts-mill-goudy") format("svg");
  font-weight: normal;
  font-style: normal
}

@font-face {
  font-family: "sorts-mill-goudy-italic";
  src: url("/font/GoudyStM-Italic-webfont.eot");
  src: url("/font/GoudyStM-Italic-webfont.eot?#iefix") format("embedded-opentype"),url("/font/GoudyStM-Italic-webfont.woff") format("woff"),url("/font/GoudyStM-Italic-webfont.ttf") format("truetype"),url("/font/GoudyStM-Italic-webfont.svg#sorts-mill-goudy-italic") format("svg");
  font-weight: normal;
  font-style: normal
}

/*************************************************/
/* Layout */

@media (min-width: 48em) {
  .sidebar {
    width: 15rem;
  }
}

@media (min-width: 48em) {
  .content {
    max-width: 38rem;
    margin-left: 17rem;
    margin-right: 2rem;
  }
}

/*************************************************/
/* Font definitions */

body {
  font-family: "sorts-mill-goudy";
  color: #333;
}

em {
  font-style: normal;
  font-family: "sorts-mill-goudy-italic"
}

.sidebar {
  font-family: "sorts-mill-goudy";
}

.sidebar-about h1 {
  font-family: "sorts-mill-goudy";
  font-size: 2.8rem;
}

.sidebar-nav {
  font-family: "sorts-mill-goudy";
  font-size: 1.15rem
}

blockquote {
  font-family: "sorts-mill-goudy-italic";
}


/* Content */
.hyphenate {
  hyphens: auto;
  text-align: justify;
}

/*************************************************/
/* Mimic Latex paragraph headline */

section.level4 {
  margin-bottom: 1rem;
}

h5 {
  display: inline-block;
  margin-bottom: 0;
  margin-top: 0;
}

/* Replacement for `display: run-in;` */
h5 + p  {
  display: inline;
  margin:0;
  margin-left: 0.5rem;
}

h5 + p:after {
  content:'\0A';
  white-space:pre;
} 

h5 + p + * {
  margin-top: 1rem;
}

/*************************************************/
/* Definition */

.definition {
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  margin-bottom: 1rem;
}

.definition header {
  padding: 0.1rem 0.5rem;
  border-bottom: 1px solid #333;
  background-color: rgba(0,0,0,0.1);
}

.definition-body {
  padding: 0.5rem 1rem;
  background-color: rgba(0,0,0,0.04);
}

.definition-body *:last-child {
  margin-bottom: 0;
}

/*************************************************/
/* Figures */

figure,
.subfigures {
  display: block;
  margin: 2em 40px;
}

img {
  /* Prevent it from stretching on mobile */
  height: auto;
}

/*************************************************/
/* Latex math */

.math-make-inline {
  display: inline-block;
}

.math-make-inline p {
  margin: 0;
}

.inline-math {
  display: inline;
}

.display-math {
  display: block;
  margin: auto !important;
}

/*************************************************/
/* references */

.references {
  border-top: 1px solid #2020203f;
  padding-top: 2rem;
  margin-top: 2rem;
}

/*************************************************/
/* sidenotes */

body {
  counter-reset: sidenote-counter;
}

.sidenote, .marginnote { float: right;
  clear: right;
  margin-right: -60%;
  width: 50%;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.1rem;
  line-height: 1.3;
  vertical-align: baseline;
  position: relative; }

.sidenote-number { counter-increment: sidenote-counter; }

.sidenote-number:after, .sidenote:before { content: counter(sidenote-counter) " ";
                    font-family: et-book-roman-old-style;
                    position: relative;
                    vertical-align: baseline; }

.sidenote-number:after { content: counter(sidenote-counter);
  font-size: 1rem;
  top: -0.5rem;
  left: 0.1rem; }

.sidenote:before { content: counter(sidenote-counter) " ";
top: -0.5rem; }

blockquote .sidenote, blockquote .marginnote { margin-right: -82%;
                        min-width: 59%;
                        text-align: left; }

input.margin-toggle { display: none; }

label.sidenote-number { display: inline; }

label.margin-toggle:not(.sidenote-number) { display: none; }

@media (max-width: 760px) {
  label.margin-toggle:not(.sidenote-number) { display: inline; }
  .sidenote, .marginnote { display: none; }
  .margin-toggle:checked + .sidenote,
  .margin-toggle:checked + .marginnote { 
    display: block;
    float: left;
    left: 1rem;
    clear: both;
    width: 95%;
    margin: 1rem 2.5%;
    vertical-align: baseline;
    position: relative; 
  }
  label { cursor: pointer; }
}
